
* {
    margin: 0;
}



.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 128px;
    background: #2E7BA2;
}

.dimensaoImg {
    height: 64px;
    width: 233px;
    margin: 32px 120px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    padding-right: 120px;
    
}

.cabecalho nav li a {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.cabecalho nav li a:hover {
    color: #000000;
}

#boasVindas {
    width: 1440px;
    height: 407px;
}

#container {
    background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    position: absolute;
    width: 1440px;
    height: 2193px;
    left: 0px;
    top: 534px;
}